<nav class="bg-white border-gray-200 dark:bg-gray-900 shadow-sm">
  <div class="max-w-[90%] flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/homepage" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/images/logo/image-removebg-preview.png" class="h-8" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Đi Đâu</span>
    </a>

    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button (click)="onLogin()" *ngIf="currentUser == undefined || !currentUser?.username" type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Đăng nhập
      </button>

      <button *ngIf="currentUser !== undefined && currentUser?.username" type="button" (click)="openChatList()"
        class="flex text-sm hover:bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button" aria-expanded="false">
        <img class="w-12 p-1 h-12 rounded-full object-contain cursor-pointer hover:bg-gray-100 "
          src="/assets/icons/message.png" alt="user photo">
      </button>

      <app-chat *ngIf="showChat" [currentUser]="customerBasicInfo" [friends]="friends"
        [chatGroups]="chatGroups"></app-chat>

      <button (click)="toggleDropdown()" *ngIf="currentUser !== undefined && currentUser?.username" type="button"
        class="flex text-sm hover:bg-gray-800 cursor-pointer rounded-full ml-5 md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-12 h-12 rounded-full" [src]="customerBasicInfo?.avatarImage" alt="user photo">
      </button>

      <!-- Dropdown menu -->
      <div [class.hidden]="!showDropdown || !currentUser?.username"
        class="absolute right-0 top-[5%] z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600"
        id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white">
            {{customerBasicInfo?.fullName}}
          </span>
          <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">
            {{customerBasicInfo?.email}}
          </span>
        </div>
        <ul *ngIf="showDropdown" class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a [routerLink]="['/customer/profile-info']"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Thông
              tin cá nhân</a>
          </li>
          <li>
            <a  [routerLink]="['/customer/booking-histories']"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Đơn
              đặt tour</a>
          </li>
          <li>
            <a [routerLink]="['/customer/wishlist']"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Yêu
              thích</a>
          </li>
          <li>
            <a [routerLink]="['/checkin']"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Check-in</a>
          </li>
          <li>
            <a [routerLink]="['/customer/vouchers']"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Mã giảm giá</a>
          </li>
          <li>
            <a [routerLink]="['/customer/list-plan']"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                Kế hoạch cá nhân
              </a>
          </li>
          <li>
            <a (click)="onLogout()"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white cursor-pointer">Đăng
              xuất</a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>

      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 
           md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white 
           dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

        <!-- Trang chủ -->
        <li>
          <a routerLink="/homepage" routerLinkActive="text-blue-700 font-bold border-b-2 border-blue-700"
            [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-3 rounded-sm 
               hover:text-blue-700 hover:font-semibold hover:border-b-2 hover:border-blue-500 
               transition-all duration-200">
            Trang chủ
          </a>
        </li>

        <!-- Về chúng tôi -->
        <li>
          <a routerLink="/about" routerLinkActive="text-blue-700 font-bold border-b-2 border-blue-700"
            [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-3 rounded-sm 
               hover:text-blue-700 hover:font-semibold hover:border-b-2 hover:border-blue-500 
               transition-all duration-200">
            Về chúng tôi
          </a>
        </li>

        <!-- Tours -->
        <li>
          <a routerLink="/custom-order-tour" routerLinkActive="text-blue-700 font-bold border-b-2 border-blue-700"
            [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-3 rounded-sm 
               hover:text-blue-700 hover:font-semibold hover:border-b-2 hover:border-blue-500 
               transition-all duration-200">
            Tours đặt riêng
          </a>
        </li>

        <!-- Bài viết -->
        <li>
          <a routerLink="/blogs" routerLinkActive="text-blue-700 font-bold border-b-2 border-blue-700"
            [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-3 rounded-sm 
               hover:text-blue-700 hover:font-semibold hover:border-b-2 hover:border-blue-500 
               transition-all duration-200">
            Bài viết
          </a>
        </li>

        <!-- Kế hoạch -->
        <li>
          <a routerLink="/plan-generation" routerLinkActive="text-blue-700 font-bold border-b-2 border-blue-700"
            [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-3 rounded-sm 
               hover:text-blue-700 hover:font-semibold hover:border-b-2 hover:border-blue-500 
               transition-all duration-200">
            Kế hoạch
          </a>
        </li>

        <!-- Cộng đồng -->
        <li>
          <a routerLink="/community" routerLinkActive="text-blue-700 font-bold border-b-2 border-blue-700"
            [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-3 rounded-sm 
               hover:text-blue-700 hover:font-semibold hover:border-b-2 hover:border-blue-500 
               transition-all duration-200">
            Cộng đồng
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>