<div class="fixed bottom-4 right-24 z-49">
    <div class="flex flex-col w-[400px] h-[600px] bg-blue-50 rounded-lg shadow-lg overflow-hidden text-white">
        <!-- Header -->
        <div class="flex items-center justify-between px-4 py-3 bg-blue-300">
            <div class="flex items-center gap-2">
                <img src="https://i.pravatar.cc/40" alt="avatar" class="w-10 h-10 rounded-full" />
                <span class="font-semibold">Phuc Tran</span>
            </div>
            <div class="flex items-center gap-2">
                <button type="button" class="text-blue-400 hover:bg-blue-300 p-1 cursor-pointer ">
                    <svg class="w-6 h-6 text-blue-800 dark:text-white hover:bg-blue-300" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path
                            d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z" />
                    </svg>

                </button>
                <button type="button" class="text-blue-400 hover:bg-blue-300 cursor-pointer p-1">
                    <svg class="w-6 h-6 text-blue-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M14 7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7Zm2 9.387 4.684 1.562A1 1 0 0 0 22 17V7a1 1 0 0 0-1.316-.949L16 7.613v8.774Z"
                            clip-rule="evenodd" />
                    </svg>

                </button>
                <button type="button" class="text-blue-400 hover:text-purple-300 cursor-pointer">
                    <svg class="w-6 h-6 text-blue-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>

                </button>
            </div>
        </div>

        <!-- Messages -->
        <div class="flex-1 overflow-y-auto p-4 space-y-2">
            <!-- Time -->
            <div class="text-center text-xs text-gray-400 mb-2">16:11</div>

            <!-- Messages list -->
            <div class="flex items-start gap-2">
                <img src="https://i.pravatar.cc/30" alt="avatar" class="w-6 h-6 rounded-full mt-1" />
                <div class="flex flex-col space-y-1">
                    <div class="bg-blue-300 px-3 py-2 rounded-2xl max-w-xs">881828</div>
                    <div class="bg-blue-300 px-3 py-2 rounded-2xl max-w-xs">019896</div>
                    <div class="bg-blue-300 px-3 py-2 rounded-2xl max-w-xs break-all">kochoaivaxin gmail.com</div>
                    <div class="bg-blue-300 px-3 py-2 rounded-2xl max-w-xs">127605</div>
                    <div class="bg-blue-300 px-3 py-2 rounded-2xl max-w-xs">180800</div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="flex items-center gap-5 px-4 py-3 bg-blue-100 border-t border-blue-200">
            <svg class="w-6 h-6 text-blue-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M13 10a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2H14a1 1 0 0 1-1-1Z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd"
                    d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12c0 .556-.227 1.06-.593 1.422A.999.999 0 0 1 20.5 20H4a2.002 2.002 0 0 1-2-2V6Zm6.892 12 3.833-5.356-3.99-4.322a1 1 0 0 0-1.549.097L4 12.879V6h16v9.95l-3.257-3.619a1 1 0 0 0-1.557.088L11.2 18H8.892Z"
                    clip-rule="evenodd" />
            </svg>


            <input type="text" placeholder="Aa"
                class="flex-1 bg-gray-500 text-white px-3 py-3 rounded-full text-sm focus:outline-none" />

            <button class="text-blue-500 text-xl cursor-pointer ">
                <img src="/assets/icons/like.png" alt="" width="32" height="24">
            </button>
        </div>
    </div>
</div>