<form [formGroup]="bookingForm"
  class="max-w-5xl mx-auto p-6 bg-white rounded-2xl shadow-lg border border-gray-200 space-y-8 mt-5 ">
  <h1 class="text-2xl text-center text-blue-700 font-semibold mb-4 mx-auto ">Yêu cầu đặt tour</h1>
  <div class="grid grid-cols-2 gap-4 ">
    <!-- Điểm khởi hành -->
    <div>
      <label class="block font-semibold mb-1">Điểm khởi hành</label>
      <ng-select [items]="departures" bindLabel="name" bindValue="id" formControlName="departureLocationId"
        placeholder="Chọn điểm khởi hành" class="w-full">
      </ng-select>
      <small class="text-red-500"
        *ngIf="bookingForm.get('departureLocationId')?.invalid && bookingForm.get('departureLocationId')?.touched">
        *Thông tin bắt buộc
      </small>
    </div>
    <!-- Chọn nhiều điểm đến -->
    <div>
      <label class="block font-semibold mb-1 ">Điểm đến</label>
      <ng-select [items]="destinations" bindLabel="name" bindValue="id" formControlName="destinationLocationIds"
        [multiple]="true" placeholder="Chọn các điểm đến" class="w-full ">
      </ng-select>
      <small class="text-red-500"
        *ngIf="bookingForm.get('destinationLocationIds')?.invalid && bookingForm.get('destinationLocationIds')?.touched">
        *Thông tin bắt buộc
      </small>
    </div>
  </div>
  <!-- 🔹 Mô tả điểm đến -->
  <div>
    <label class="block font-semibold mb-1">Mô tả điểm đến</label>
    <textarea formControlName="destinationDetail" class="w-full border p-2 rounded" rows="3"
      placeholder="Ví dụ: Muốn đi biển, gần trung tâm, có hoạt động team building..."></textarea>
  </div>


  <!-- Ngày đi / về -->
  <div class="grid grid-cols-2 gap-4 ">
    <div>
      <label class="block font-semibold mb-1">Ngày đi</label>
      <input type="date" formControlName="startDate" class="w-full border p-2 rounded" [min]="today" />
      <small class="text-red-500"
        *ngIf="bookingForm.get('startDate')?.touched && bookingForm.get('startDate')?.invalid">
        *Thông tin bắt buộc
      </small>
    </div>

    <div>
      <label class="block font-semibold mb-1">Ngày về</label>
      <input type="date" formControlName="endDate" class="w-full border p-2 rounded"
        [min]="bookingForm.get('startDate')?.value || today" />
      <small class="text-red-500"
        *ngIf="(bookingForm.get('endDate')?.touched && bookingForm.get('endDate')?.invalid) || bookingForm.hasError('dateRange')">
        *Thông tin bắt buộc
      </small>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <!-- Phương tiện -->
    <div>
      <label class="block font-semibold mb-1">Phương tiện</label>
      <select formControlName="transport" class="w-[75%] border p-2 rounded">
        <option value="">-- Chọn phương tiện --</option>
        <option *ngFor="let t of transports" [value]="t">{{ t | iconTransport }}</option>
      </select>
      <small class="text-red-500"
        *ngIf="bookingForm.get('transport')?.invalid && bookingForm.get('transport')?.touched">
        *Thông tin bắt buộc
      </small>
    </div>


    <!-- Khách sạn -->
    <div>
      <label class="block font-semibold mb-1">Khách sạn</label>
      <div class="flex gap-4 items-center">
        <div class="flex items-center gap-2 w-1/2 ">
          <label for="hotelRooms" class="text font-medium text-gray-700 whitespace-nowrap">
            Số phòng
          </label>
          <input id="hotelRooms" type="number" min="1"
            class=" w-[15%] flex-1 border border-gray-300 rounded px-3 py-2 text-center focus:outline-none focus:ring focus:ring-blue-200"
            formControlName="hotelRooms" />
        </div>

        <!-- Loại phòng -->
        <select formControlName="roomCategory" class=" border rounded p-2 w-1/2">
          <option value="" class="text-sm">Loại Phòng</option>
          <option *ngFor="let s of hotelStandards" [value]="s.value"> {{ s.label }}</option>
        </select>
        <small class="text-red-500"
          *ngIf="bookingForm.get('hotelRooms')?.invalid && bookingForm.get('hotelRooms')?.touched">
          *Vui lòng chọn loại phòng
        </small>
      </div>
    </div>
  </div>

  <!-- Khách -->
  <h2 class=" font-semibold mt-6 mb-1">Hành khách</h2>
  <div class="grid grid-cols-4 gap-4">
    <div>
      <label>Người lớn (Lớn hơn 12 tuổi)</label>
      <input type="number" formControlName="adults" min="1" class="w-full border p-2 rounded" />
    </div>
    <div>
      <label>Trẻ em (Từ 5 - 11 tuổi)</label>
      <input type="number" formControlName="children" min="0" class="w-full border p-2 rounded" />
    </div>
    <div>
      <label>trẻ nhỏ (Từ 2 - 4 tuổi)</label>
      <input type="number" formControlName="infants" min="0" class="w-full border p-2 rounded" />
    </div>
    <div>
      <label>Em bé (Dưới 2 tuổi)</label>
      <input type="number" formControlName="toddlers" min="0" class="w-full border p-2 rounded" />
    </div>
  </div>

  <!-- Hiển thị tổng số hành khách -->
  <p class="mt-2 font-semibold text-blue-700 text-right underline">
    Tổng số hành khách: {{ getTotalGuests() }}
  </p>

  <!-- 🔹 Chủ đề tour & Dịch vụ mong muốn -->
  <div class="grid grid-cols-2 gap-4">

    <div>
      <label class="block font-semibold mb-1">Chủ đề tour</label>
      <ng-select [items]="themes" bindLabel="name" bindValue="id" formControlName="tourThemeIds" [multiple]="true"
        placeholder="Chọn chủ đề tour" class="w-full ">
      </ng-select>
      <small class="text-red-500"
        *ngIf="bookingForm.get('tourThemeIds')?.invalid && bookingForm.get('tourThemeIds')?.touched">
        *Vui lòng chọn ít nhất 1 chủ đề
      </small>
    </div>

    <div>
      <label class="block font-semibold mb-1">Dịch vụ mong muốn</label>
      <input type="text" formControlName="desiredServices" class="w-full border p-2 rounded"
        placeholder="Xe đưa đón, gala dinner, teambuilding, hướng dẫn viên..." />
    </div>
  </div>

  <!-- Khoảng giá -->
  <h2 class=" font-semibold mt-6 mb-1">Ước lượng tổng chi phí (VND) </h2>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <input type="text" [value]="formatCurrency(bookingForm.get('priceMax')?.value)"
        (input)="onPriceInput($event, 'max')" class="w-full border p-2 rounded" />
    </div>
    <small class="text-red-500" *ngIf="bookingForm.get('priceMax')?.invalid && bookingForm.get('priceMax')?.touched">
      *Thông tin bắt buộc
    </small>
  </div>

  <!-- Thông tin liên lạc -->
  <div class="pt-4 border-t">
    <label class="block font-semibold mb-1">Thông tin liên hệ người đặt</label>
    <!-- Nút bật/tắt readonly (tuỳ chọn) -->
    <button type="button" class="text-sm text-blue-600 hover:underline" *ngIf="autoFilled"
      (click)="clearContactFields()">
      Dùng thông tin khác
    </button>
    <button type="button" class="text-sm text-blue-600 hover:underline" *ngIf="!autoFilled" (click)="fillCurrentUser()">
      Tự động điền từ tài khoản
    </button>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label>Họ tên *</label>
        <input type="text" formControlName="customerName" class="w-full border p-2 rounded" />
        <small class="text-red-500"
          *ngIf="bookingForm.get('customerName')?.invalid && bookingForm.get('customerName')?.touched">
          *Thông tin bắt buộc
        </small>
      </div>
      <div>
        <label>Email *</label>
        <div class="flex gap-2">
          <input type="email" formControlName="customerEmail" class="w-full border p-2 rounded" />
          <small class="text-red-500"
            *ngIf="bookingForm.get('customerEmail')?.invalid && bookingForm.get('customerEmail')?.touched">
            *Thông tin bắt buộc
          </small>
          <button type="button" 
          class="whitespace-nowrap flex gap-2 items-center border border-blue-500  text-blue-600 rounded-md text-sm  transition-colors duration-200 hover:bg-blue-50 flex-1"
            (click)="sendVerificationCode()" [disabled]="sendingCode || codeCooldown>0 || f['customerEmail'].invalid">
            {{ codeCooldown>0 ? ('Gửi lại (' + codeCooldown + 's)') : (sendingCode ? 'Đang gửi...' : 'Gửi mã') }}
          </button>
        </div>
        <div class="text-xs text-gray-500 mt-1">Mã xác thực sẽ được gửi tới email này.</div>
      </div>
      <small class="text-red-500" *ngIf="f['customerEmail'].touched && f['customerEmail'].invalid">*Email không hợp
        lệ</small>

    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label>Số điện thoại *</label>
        <input type="tel" formControlName="customerPhone" maxlength="10" inputmode="numeric" pattern="[0-9]*"
          class="w-full border p-2 rounded" />
        <small class="text-red-500"
          *ngIf="bookingForm.get('customerPhone')?.invalid && bookingForm.get('customerPhone')?.touched">
          *Thông tin bắt buộc
        </small>
      </div>
      <!-- Ô nhập mã xác thực -->
      <div>
        <label>Mã xác thực *</label>
        <input type="text" formControlName="verificationCode" class="w-full border p-2 rounded"
          placeholder="Nhập mã vừa nhận qua email" />
        <small class="text-red-500" *ngIf="f['verificationCode'].touched && f['verificationCode'].invalid">*Vui lòng
          nhập mã</small>
      </div>
    </div>
  </div>


  <!-- Nút gửi -->
  <div class="text-center pt-6">
    <button type="button" (click)="submitBooking()" [disabled]="submitting"
      class="px-6 py-2 bg-blue-500 text-white rounded shadow hover:bg-blue-700 transition">
      Xác nhận và gửi
    </button>
  </div>
</form>